body {
  height:500vh;
}
header {
  grid-area: header;
  background-color: #000000;
  background-position: center;
}
nav {
  grid-area: nav;
  background-color: #262733;
  display: flex;
  font-size: 35px;
  text-decoration: none;
  color: #2DCCBF;
  cursor: pointer;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .artikel {
  display: flex;
  flex-wrap: wrap;
  width:15%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  font-family: 'Biryani', sans-serif;
  font-size: 20px;
}
.prev {
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-weight: bold;
  font-size: 50px;
  user-select: none;
}
.next {
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-weight: bold;
  font-size: 50px;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slider500px {
  grid-area: slider;
  flex-wrap: wrap;
  display: flex;
  display: none;
  background-color: lightgrey;
}
.punkt1 {
  height: 20px;
  width: 20px;
  margin: 1%;
  margin-left: 2%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.punkt1:hover {
  background-color: #717171;
}
.punkt2 {
  height: 20px;
  width: 20px;
  margin: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.punkt2:hover {
  background-color: #717171;
}
.punkt3 {
  height: 20px;
  width: 20px;
  margin: 1%;
  margin-right: 2%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.punkt3:hover {
  background-color: #717171;
}
.Cart {
  margin-left: 20%;
  margin-right: 25%;
  margin-top: -10%;
  cursor: pointer;
}
.test
{display:inline-block; overflow:hidden; background-repeat: no-repeat;
  background-image:url(../imgs/nedladdning.png);
}
.Biglogga {width: 100%; height: 250px; background-position: 0.250627% 0.258398%; background-size: 175%; }
.BigloggaMindre {width: 100%; height: 250px; background-position: 0.235849% 32.8165%; background-size: 170.667%; }
.Buttonfixed100px {width: 100px; height: 50px; background-position: 64.3737% 0.205339%; background-size: 2048.00%; }
.Mindrelogga1 {width: 1000px; height: 250px; background-position: 95.8015% 65.3747%; background-size: 204.800%; }
.Smallogga {width: 1000px; height: 250px; background-position: 0.190840% 65.3747%; background-size: 204.800%; }
#box {
  grid-area: box;
  flex-wrap: wrap;
  display: flex;
  background-color: lightgrey;
}
#box2 {
  grid-area: box2;
  flex-wrap: wrap;
  display: flex;
  background-color: lightgrey;
}
#box3 {
  grid-area: box3;
  flex-wrap: wrap;
  display: flex;
  background-color: #000000;
}
#box4 {
  grid-area: box4;
  flex-wrap: wrap;
  display: flex;
  background-color: lightgrey;
}
#box5 {
  grid-area: box5;
  flex-wrap: wrap;
  display: flex;
  background-color: lightgrey;
}
#box6 {
  grid-area: box6;
  flex-wrap: wrap;
  display: flex;
  background-color: lightgrey;
}
#nav {
  background-color: #262733;
  height: 170px;
  width: 17%;
  position: absolute;
  display: none;
  font-family: 'Biryani', sans-serif;
}
#window{
  margin: auto;
  height: 600px;
  width: 800px;
}
#imgs{
  margin-top: -10%;
  height: 800px;
  width: 3200px;
  position: relative;
  display: none;
  cursor: pointer;
}
#bilddub{
  display: none;
}
#maps {
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 1.5%;
}
#googlemaps {
  height: 300px;
  width: 100%;
}
#text {
  margin-left: 5%;
  margin-top: 0.5%;
  font-family: 'Biryani', sans-serif;
  font-size: 40px;
}
#text2 {
  margin-left: 44%;
  font-size: 80px;
  font-family: 'Biryani', sans-serif;
  margin-bottom: -20%;
}
#text3 {
  color: #2DCCBF;
  font-family: 'Biryani', sans-serif;
  font-size: 20px;
}
#wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8% 2% 22% 9% 9% 10% 10% 17% 13%;
  grid-template-areas:
  "header header header header"
  "nav nav nav nav"
  "slider slider slider slider"
  "box box box box"
  "box6 box6 box6 box6"
  "box2 box2 box2 box2"
  "box5 box5 box5 box5"
  "box4 box4 box4 box4"
  "box3 box3 box3 box3"
  ;}

  @media screen and (max-width: 1150px) {
    #wrapper {
      height: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 7.5% 2% 17% 17% 22.5% 21.5% 13%;
      grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "box box box box"
      "box6 box6 box6 box6"
      "box2 box2 box2 box2"
      "box5 box5 box5 box5"
      "box3 box3 box3 box3"
      ;}
      .container .artikel {
        width: 26%;
        margin-left: 12%;
        margin-right: 12%;
        font-size: 25px;
      }
      .slider {
        display: none;
      }
      .Biglogga {width: 100%; height: 225px;}
    }

    @media screen and (max-width: 1050px) {
      #wrapper {
        grid-template-rows: 6% 2% 17% 17% 22.5% 22.5% 13%;

      }
    }

    @media screen and (max-width: 900px) {
      #wrapper {
        grid-template-rows: 5.5% 2% 17% 17% 23.5% 22% 13%;
        ;}
        .Biglogga {width: 100%; height: 200px;}
        #nav {
          width: 23%;
        }
      }

      @media screen and (max-width: 800px) {
        #wrapper {
          grid-template-rows: 4.5% 2% 17% 17.5% 23% 22.5% 13.5%;
          ;}
          .Biglogga {width: 100%; height: 175px;}
          #googlemaps {
            height: 250px
          }
          #text3 {
            font-size: 20px;
          }
        }

        @media screen and (max-width: 700px) {
          #wrapper {
            grid-template-rows: 4% 2% 18% 18% 22.5% 22% 13.5%;
            }
            #nav {
              width: 30%;
            }
          }

          @media screen and (max-width: 600px) {
            #wrapper {
              grid-template-rows: 3.5% 2% 17.5% 18% 23.5% 22% 13.5%;
              }
            }

            @media screen and (max-width: 550px) {
              #wrapper {
                grid-template-rows: 3.5% 2% 37.5% 44.5% 12.5%;
                grid-template-areas:
                "header header header header"
                "nav nav nav nav"
                "box box box box"
                "box2 box2 box2 box2"
                "box3 box3 box3 box3"
                ;}
                .container .artikel {
                  width: 50%;
                  margin-left: 25%;
                  margin-right: 25%;
                  font-size: 20px;
                }
                #box6 {
                  display: none;
                }
                #box5 {
                  display: none;
                }
                body {
                  height: 400vh;
                }
                #googlemaps {
                  height: 200px;
                }
              }

              @media screen and (max-width: 500px) {
                .Biglogga {width: 100%; height: 150px;}
                #nav {
                  width: 39%;
                }
              }

              @media screen and (max-width: 450px) {
                #wrapper {
                  grid-template-rows: 3% 2% 36% 47% 12%;
                }

                @media screen and (max-width: 400px) {
                  #wrapper {
                    grid-template-rows: 2.5% 2% 37.5% 46% 12%;
                  }
                  #googlemaps{
                    margin-left: 5%;
                  }
                  #nav {
                    width: 94.5%;
                  }
                }
                @media screen and (max-width: 350px) {
                  #wrapper {
                    grid-template-rows: 2.5% 2% 37.5% 45.5% 12.5%;
                    }
                    #googlemaps{
                      width: 90%;
                    }
                  }
