body {
height:400vh;
}
header {
  grid-area: header;
  background-color: #000000;
  background-image: url('../imgs/Biglogga.png');
}
nav {
  grid-area: nav;
  background-color: #262733;
  display: flex;
  font-family: cursive;
  font-size: 35px;
  text-decoration: none;
  color: #8E88A4;
}
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
}
aside {
  grid-area: aside;
  background-color:#DB87FF;
  font-family: cursive;
  font-size: 30px;
}
footer {
  grid-area: footer;
  background-color: #000000;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .artikel {
  display:flex;
  flex-wrap: wrap;
  width:15%;
  margin: 5%;
}
 #box {
  grid-area: box;
  display:flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
}
#box2 {
 grid-area: box2;
 display:flex;
 flex-wrap: wrap;
 display: flex;
 flex-wrap: wrap;
 background-color: blue;
}
#box3 {
 grid-area: box3;
 display:flex;
 flex-wrap: wrap;
 display: flex;
 flex-wrap: wrap;
 background-color: green;
}
#box4 {
 grid-area: box4;
 display:flex;
 flex-wrap: wrap;
 display: flex;
 flex-wrap: wrap;
 background-color: brown;
}
#nav {
  background-color: #262733;
  height: 200px;
  width: 20%;
  position: absolute;
  display: none;
}
#wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 2.5% 25% 25% 25% 12.5%;
  grid-template-areas:
  "header header header header"
  "nav nav nav nav"
  "box box box box"
  "box2 box2 box2 box2"
  "box3 box3 box3 box3"
  "box4 box4 box4 box4"
  ;}
/* #C08C8C #542304*/
