body {
  height: 165vh;
}
nav {
  grid-area: nav;
  background-color: orange;
}
main {
  margin-top: 2%;
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: blue;
}
#box {
  grid-area: box;
  background-color: lightblue;
}
#window {
  margin: auto;
  height: 400px;
  width: 1200px;
}
#imgs {
  height: 400px;
  width: 2450px;
  position: relative;
}
.container {
  width: 100%;
  display: flex;
}
.container .artikel {
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
}
#wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 7% 45% 24% 24%;
  grid-template-areas:
  "nav nav nav nav"
  "main main main main"
  "box box box box"
  "footer footer footer footer";
}
