body {
  height: 165vh;
}
nav {
  background-color: RoyalBlue;
  position: fixed;
  top: 0;
  width: 96.5%;
  height: 14%;
  z-index: 10;
  font-size: 40px;
  color: #8A8FAC;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  display: flex;
}
footer {
  grid-area: footer;
  background-color: RoyalBlue;
}
footer img {
  margin-left: 2%;
  margin-top: 2%;
}
nav a {
  margin-left: 3%;
  color: #8A8FAC;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
nav img {
  margin-top: 0.3%;
  margin-right: 7%;
}
main {
  margin-top: 2%;
  grid-area: main;
  position: center;
}
#text {
  font-size: 30px;
  color: #8A8FAC;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 3%;
}
#text2 {
  margin-right: 20%;
  margin-top: 1.5%;
}
#text3{
  margin-top: 1.5%;
}
#dropdown {
  background-color: #172861;
  margin-top: -1%;
  height: 150px;
  width: 25%;
  position: absolute;
  display: none;
}
#slider {
  grid-area: slider;
  background-color: #87CEEB;
}
#window {
  margin: auto;
  height: 400px;
  width: 1200px;
  display: none;
}
#imgs {
  height: 400px;
  width: 2850px;
  position: relative;
}
#dots {
  display: none;
  margin-top: 2%;
}
#dot1 {
  height: 30px;
  width: 30px;
  margin-left: 44%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
#dot2 {
  height: 30px;
  width: 30px;
  margin-left: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
#dot3 {
  height: 30px;
  width: 30px;
  margin-left: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
#dot4 {
  height: 30px;
  width: 30px;
  margin-left: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .artikel {
  margin-top: 1.5%;
  margin-left: 9.5%;
  width: 23.5%;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 44px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: RoyalBlue;
}
#wrapper {
  margin-top: 7%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:  50% 30% 20%;
  grid-template-areas:
  "main main main main"
  "slider slider slider slider"
  "footer footer footer footer";
}
@media screen and (max-width: 1200px) {
  #window {
    width: 400px;
  }
  .container .artikel {
    margin-left: 8.5%;
  }
  #dropdown {
      width: 33%;
  }
}
@media screen and (max-width: 1100px) {
#dot1 {
  margin-left: 42%;
}
nav {
  height: 13%;
}
}
@media screen and (max-width: 1000px) {
  .container .artikel {
    margin-left: 7.5%;
  }
  #dot1 {
    margin-left: 41%;
  }
  main {
    margin-top: 5%;
  }
}
@media screen and (max-width: 900px) {
  .container .artikel {
    width: 27%;
    margin-left: 5%;
  }
  #dot1 {
    margin-left: 40%;
  }
@media screen and (max-width: 780px) {
  body {
    height: 250vh;
  }
  .container .artikel {
    width: 100%;
    margin-left: 35%;
  }
  #dot1 {
    margin-left: 39%;
  }
  #wrapper {
    margin-top: 14%;
    grid-template-rows:  33% 53% 14%;
    grid-template-areas:
    "main main main main"
    "slider slider slider slider"
    "footer footer footer footer";
  }
}
@media screen and (max-width: 700px) {
  #dot1 {
    margin-left: 38%;
  }
}
@media screen and (max-width: 600px) {
  .container .artikel {
    margin-left: 32%;
  }
  #dot1 {
    margin-left: 36%;
  }
  #text2 {
    margin-right: 4%;
    margin-top: 4%;
    font-size: 30px;
  }
  #text3{
    margin-top: 4%;
    font-size: 30px;
  }
  #dropdown {
    margin-top: 20%;
    height: 150px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .container .artikel {
    margin-left: 30%;
  }
  #dot1 {
    margin-left: 33%;
  }
  main {
    margin-top: 8%;
  }
}
@media screen and (max-width: 450px) {
  .container .artikel {
    margin-left: 25%;
  }
    body {
      height: 210vh;
    }
  main {
    margin-top: 15%;
  }
  #wrapper {
    grid-template-rows:  24% 61% 15%;
    grid-template-areas:
    "main main main main"
    "slider slider slider slider"
    "footer footer footer footer";
  }
  .responsive {
  width: 200px;
  height: 200px;
  }
  #window {
    height: 200px;
    width: 200px;
  }
  #dot1 {
    margin-left: 32%;
  }
}
@media screen and (max-width: 400px) {
  .container .artikel {
    margin-left: 21%;
  }
  #dot1 {
    margin-left: 28%;
  }
  body {
    height: 200vh;
  }
  main {
    margin-top: 14.5%;
  }
  #wrapper {
    grid-template-rows:  24% 63.5% 12.5%;
    grid-template-areas:
    "main main main main"
    "slider slider slider slider"
    "footer footer footer footer";
  }
}
@media screen and (max-width: 350px) {
  .container .artikel {
    margin-left: 16.5%;
  }
  body {
    height: 225vh;
  }
 #text2 {
   margin-top: 6%;
   font-size: 25px;
 }
 #text3 {
   margin-top: 6%;
   font-size: 25px;
 }
}
