header {
  grid-area: header;
  background-color: black;
}
nav {
  grid-area: nav;
  background-color: #262733;
}
aside {
  grid-area: aside;
  background-color: black;
}
main {
grid-area: main;
background-color: black;
}
footer {
  grid-area: footer;
  flex-wrap: wrap;
  display: flex;
  background-color: #000000;
}
#wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
  "header header header header header header"
  "nav nav nav nav nav nav"
  "main main main main main main"
  "footer footer footer footer footer footer"
  ;}
}
